﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }
   
@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}
.container.body-content.arebackgroundImg{
   background-image: url('../images/light_textured_backround.jpg');
       background-repeat: no-repeat;

}